<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AngularJS</title>

    <meta name="description" content="Why we choose to go to SPA">
    <meta name="author" content="Luciano Amodio">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">
    <link rel="stylesheet" href="css/app.css">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

    <script src="js/angular.js"></script>

    <script type="text/javascript">
        var myApp2 = angular.module('myApp2', []);

        var _viewSlide = '8/5';

        var _fellows = [
            {name: 'Luciano',   from: 'Italy'},
            {name: 'Ayham',     from: 'Syria'},
            {name: 'geshan',    from: 'Nepal'},
            {name: 'Hallal',     from: 'Lebanon'}
        ]

        myApp2.config(function($routeProvider){
            $routeProvider
                    .when('/' + _viewSlide,
                    {
                        controller: 'SimpleController2',
                        templateUrl: 'view1.html'
                    })
                    .when('/view2',
                    {
                        controller: 'SimpleController2',
                        templateUrl: 'view2.html'
                    });
        });

        myApp2.controller('SimpleController2', function($scope, SimpleFactory){

            $scope.view1 = _viewSlide
            $scope.fellows = SimpleFactory.getFellows();

            $scope.addFellow = function(){
                $scope.fellows.push({
                    name: $scope.newFellow.name,
                    from: $scope.newFellow.from
                });
            }
        });

        myApp2.factory('SimpleFactory', function ()
        {
            return {
                getFellows: function ()
                {
                    var fellows = _fellows;

                    return fellows;
                }
            }
        });
    </script>

    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
</head>

<body>

<div class="reveal" ng-app="myApp2">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">



<section>
    <img class="fragment fade-in" src="images/renzo_piano.jpg"><br />
    <cite>"because the center of the composition is not a building,<br /> but an empty space."</cite>
</section>



<section data-transition-speed="page">
    <section>
        <h1>Why we choose to go to SPA</h1>
        <br />
        <br />
        <br />
        <br />
        <h3>Quick introduction to AngularJS</h3>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h4>Luciano Amodio</h4>
    </section>

    <section>
        <br />
        <br />
        <br />
        <img src="images/spa01.jpg">
    </section>

    <section data-transition="zoom">
        <h2>No that SPA</h2>
    </section>


    <section>
        <h2>What is a SPA?</h2><br /><br /><br /><br /><br />
        <span class="fragment fade-in">Single</span> &nbsp;&nbsp;
        <span class="fragment fade-in">Page</span>&nbsp;&nbsp;
        <span class="fragment fade-in">Application</span>&nbsp;&nbsp;
    </section>

    <section>
        <h3>What's in a SPA?</h3>
        <ul>
            <li class="fragment fade-in">Module Loading</li>
            <li class="fragment fade-in">Routing</li>
            <li class="fragment fade-in">Object Modeling</li>
            <li class="fragment fade-in">Ajax/Promises</li>
            <li class="fragment fade-in">Caching</li>
            <li class="fragment fade-in">Data Binding</li>
            <li class="fragment fade-in">Dom Manipulation</li>
            <li class="fragment fade-in">History</li>
        </ul>
    </section>

</section>



<section>

    <section>
        <h1>Why AngularJs?</h1><br /><br /><br /><br />
        <h3 class="fragment fade-in">All that &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fragment fade-in">in a single Library</span></h3>
    </section>

    <section>
        <ul>
            <li>MVC<span class="fragment fade-in">, or better</span><span class="fragment fade-in">: MVW</span></li>
            <li class="fragment fade-in">Dependency Injection</li>
            <li class="fragment fade-in">Factories & Services</li>
            <li class="fragment fade-in">Routing</li>
            <li class="fragment fade-in">History</li>
            <li class="fragment fade-in">Templates</li>
            <li class="fragment fade-in">Directives</li>
            <li class="fragment fade-in">Two<->Way Data Binding</li>
            <li class="fragment fade-in">Validation</li>
            <li class="fragment fade-in">Testing</li>
            <li class="fragment fade-in">jqLite</li>
        </ul>
    </section>
</section>


<section>
    <section>
        <h1>Software/Libraries Used</h1><br /><br /><br /><br />
        <ul>
            <li class="fragment fade-in">Node.js</li>
            <li class="fragment fade-in">YeoMan</li>
            <li class="fragment fade-in">Grunt</li>
            <li class="fragment fade-in">Bower</li>
        </ul>
    </section>
</section>



<section>

    <section>
        <h3>Directives & Data binding</h3>
    <pre><code contenteditable ng-non-bindable>
    <div ng-init="names=['Luciano', 'Ayham', 'Geshan', 'Hallal']"></div>

    <ul>
        <li ng-repeat="personName in names">{{ personName }}</li>
    </ul>
    </code></pre>
    </section>

    <section>
        <div ng-init="names=['Luciano', 'Ayham', 'Geshan', 'Hallal']">
        </div>

        <ul>
            <li ng-repeat="personName in names">{{ personName }}</li>
        </ul>
    </section>

</section>



<section>

    <section>
        <h3>Filters</h3>
    <pre><code contenteditable ng-non-bindable>
        <div ng-init="fellows=[
                                {name: 'Luciano',   from: 'Italy'},
                                {name: 'Ayham',     from: 'Syria'},
                                {name: 'Geshan',    from: 'Nepal'},
                                {name: 'Hallal',     from: 'Lebanon'}]"></div>

        Filter by Value: <input type="text" ng-model="name" />

        you are typing: {{  name }}

        <ul>
            <li ng-repeat="fellow in fellows | filter:name | orderBy:'from'">
                {{ fellow.name }} - {{ fellow.from }}
            </li>
        </ul>
    </code></pre>
    </section>

    <section>
        <div class="left">

            <div ng-init="fellows=[
                                {name: 'Luciano',   from: 'Italy'},
                                {name: 'Ayham',     from: 'Syria'},
                                {name: 'Geshan',    from: 'Nepal'},
                                {name: 'Hallal',     from: 'Lebanon'}
                                ]">

                Filter by Value: <input type="text" ng-model="name" /><br />
                you are typing: {{ name }}<br /><br />
            </div>

            <ul>
                <li ng-repeat="fellow in fellows | filter:name | orderBy:'from'">{{ fellow.name }} - {{ fellow.from }}</li>
            </ul>
        </div>
    </section>
</section>





<section>

    <section>
        <h3>Controllers & $scope</h3>
    <pre><code contenteditable ng-non-bindable>
        <script>
            function SimpleController($scope){
                $scope.fellows = [
                                    {name: 'Luciano',   from: 'Italy'},
                                    {name: 'Ayham',     from: 'Syria'},
                                    {name: 'Geshan',    from: 'Nepal'},
                                    {name: 'Hallal',     from: 'Lebanon'}];
            }
        </script>
    </code></pre>
    </section>

    <section>
        <h3>View</h3>
    <pre><code contenteditable ng-non-bindable>
        <div ng-controller="SimpleController">

            Filter by Value: <input type="text" ng-model="name" />

            you are typing: {{ name }}

            <ul>
                <li ng-repeat="fellow in fellows | filter:name | orderBy:'from'">
                    {{ fellow.name }} - {{ fellow.from }}
                </li>
            </ul>
        </div>
    </code></pre>
    </section>

    <section>
        <script>
            function SimpleController($scope)
            {
                $scope.fellows = [
                    {name: 'Luciano',   from: 'Italy'},
                    {name: 'Ayham',     from: 'Syria'},
                    {name: 'Geshan',    from: 'Nepal'},
                    {name: 'Hallal',     from: 'Lebanon'}
                ];
            }
        </script>
        <div class="left">
            <div ng-controller="SimpleController">

                Filter by Value: <input type="text" ng-model="name" /><br />
                you are typing: {{ name }}<br /><br />
                <ul>
                    <li ng-repeat="fellow in fellows | filter:name | orderBy:'from'">{{ fellow.name }} - {{ fellow.from }}</li>
                </ul>
            </div>
        </div>
    </section>
</section>



<section>
    <section>
        <h3>Modules, Routes & Factories</h3>
        <img src="images/modules01.png" />
    </section>

    <section>
        <h3>Modules, Routes & Factories</h3>
        <img src="images/modules02.png" />
    </section>
</section>

<section>
    <section>
        <h3>Controller</h3>
    <pre><code contenteditable ng-non-bindable>
        <script>
            var myApp = angular.module('myApp', []);

            myApp.controller('SimpleController', function($scope){
                $scope.fellows = [
                                    {name: 'Luciano',   from: 'Italy'},
                                    {name: 'Ayham',     from: 'Syria'},
                                    {name: 'Geshan',    from: 'Nepal'},
                                    {name: 'Hallal',     from: 'Lebanon'}
                ];
            });
        </script>
    </code></pre>
    </section>

    <section>
        <h3>View</h3>
    <pre><code contenteditable ng-non-bindable>
        &lt;body ng-app="myApp"&gt;
            <div ng-controller="SimpleController">

                Filter by Value: <input type="text" ng-model="name" />

                you are typing: {{ name }}

                <ul>
                    <li ng-repeat="fellow in fellows | filter:name | orderBy:'from'">
                        {{ fellow.name }} - {{ fellow.from }}
                    </li>
                </ul>
            </div>
        &lt;/body&gt;
    </code></pre>
    </section>

    <section>
        <div class="left">
        <div ng-controller="SimpleController">

            Filter by Value: <input type="text" ng-model="name" /><br />
            you are typing: {{ name }}<br /><br />

            <ul>
                <li ng-repeat="fellow in fellows | filter:name | orderBy:'from'">
                    {{ fellow.name }} - {{ fellow.from }}
                </li>
            </ul>
        </div>
        </div>
    </section>
</section>














<section>

    <section>
        <h3>Routes</h3>
        <pre><code contenteditable ng-non-bindable>
            <script>
                myApp.config(function($routeProvider){
                    $routeProvider
                            .when('/view1',
                            {
                                controller: 'SimpleController',
                                templateUrl: 'view1.html'
                            })
                            .when('/view2',
                            {
                                controller: 'SimpleController',
                                templateUrl: 'view2.html'
                            });
                });
            </script>
        </code></pre>
    </section>

    <section>
        <h3>SimpleController</h3>
        <pre><code contenteditable ng-non-bindable>
            <script>
                myApp.controller('SimpleController', function($scope){
                    $scope.fellows = [
                                        {name: 'Luciano',   from: 'Italy'},
                                        {name: 'Ayham',     from: 'Syria'},
                                        {name: 'Geshan',    from: 'Nepal'},
                                        {name: 'Hallal',     from: 'Lebanon'}
                    ];
                    $scope.addFellow = function(){
                        $scope.fellows.push({
                            name: $scope.newFellow.name,
                            from: $scope.newFellow.from });
                    }
                });
            </script>
        </code></pre>
    </section>

    <section>
        <h3>index.html</h3>
        <pre><code contenteditable ng-non-bindable>
            &lt;body ng-app="myApp"&gt;

                <div ng-view></div>

            &lt;/body&gt;
        </code></pre>
    </section>

    <section>
        <h3>view1.html</h3>
        <pre><code contenteditable ng-non-bindable>
            Filter by Value: <input type="text" ng-model="name" />

            <ul>
                <li ng-repeat="fellow in fellows | filter:name | orderBy:'from'">
                    {{ fellow.name }} - {{ fellow.from }}
                </li>
            </ul>

            Fellow name <input type="text" ng-model="newFellow.name" />

            Fellow from <input type="text" ng-model="newFellow.from" />

            <button ng-click="addFellow()">Add Fellow</button>

            &lt;a href="/view2">View2&lt;/a>
        </code></pre>
    </section>

    <section>
        <h3>view2.html</h3>
        <pre><code contenteditable ng-non-bindable>
            Filter by Value: <input type="text" ng-model="name" />

            <ul>
                <li ng-repeat="fellow in fellows | filter:name | orderBy:'name'">
                    {{ fellow.name }} - {{ fellow.from }}
                </li>
            </ul>


            &lt;a href="#/view1">View1&lt;/a>
        </code></pre>
    </section>

    <section>
        <div ng-view></div>
    </section>

</section>




<section>

    <section>
        <h3>Factories</h3>
        <pre><code contenteditable ng-non-bindable>
            <script>
                myApp.factory('SimpleFactory', function ()
                {
                    return {
                        getFellows: function () {
                            var fellows = [
                                            {name: 'Luciano',   from: 'Italy'},
                                            {name: 'Ayham',     from: 'Syria'},
                                            {name: 'Geshan',    from: 'Nepal'},
                                            {name: 'Hallal',     from: 'Lebanon'}];
                            return fellows;
                        }
                    }
                });
            </script>
        </code></pre>
    </section>


    <section>
        <h3>SimpleController</h3>
        <pre><code contenteditable ng-non-bindable>
            <script>
                myApp.controller('SimpleController',
                        function($scope, SimpleFactory){

                            $scope.fellows = SimpleFactory.getFellows();

                            $scope.addFellow = function(){
                                $scope.fellows.push({
                                    name: $scope.newFellow.name,
                                    from: $scope.newFellow.from
                                });
                            }
                        });
            </script>
        </code></pre>
    </section>
</section>


    <section>
        <h1>Thank you</h1>
        <br />
        <br />
        <br />
        <h2>Any Questions?</h2>
    </section>

    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: false,

        width: 1280,
        height: 720,

        theme: Reveal.getQueryHash().theme || 'default', // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'cube', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
            // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
            // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

<script type="text/javascript">
    Reveal.addEventListener( 'entersfeir', function() {
        $('.reveal').addClass('black-back');
    }, false );

    Reveal.addEventListener( 'leavesfeir', function() {
        $('.reveal').removeClass('black-back');
    }, false );
</script>

</body>
</html>
